<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Купля ценной бумаги</h1>
        <form method="post">
            <label for="deal_date">Дата сделки:</label>
            <input type="date" name="deal_date" required>

            <label for="exchange_id">Биржа:</label>
            <select name="exchange_id" required>
                {% for exchange in exchanges %}
                    <option value="{{ exchange.id }}">{{ exchange.name }}</option>
                {% endfor %}
            </select>

            <label for="broker_id">Брокер:</label>
            <select name="broker_id" required>
                {% for broker in brokers %}
                    <option value="{{ broker.id }}">{{ broker.name }}</option>
                {% endfor %}
            </select>

            <label for="security_name">Название ценной бумаги:</label>
            <input type="text" name="security_name" required>

            <label for="description">Описание ценной бумаги:</label>
            <textarea name="description" rows="4"></textarea>

            <label for="ticker">Тикер:</label>
            <input type="text" name="ticker" required>

            <label for="currency_id">Валюта:</label>
            <select name="currency_id" required>
                {% for currency in currencies %}
                    <option value="{{ currency.id }}">{{ currency.name }}</option>
                {% endfor %}
            </select>

            <label for="has_dividends">Есть ли дивиденды:</label>
            <input type="radio" name="has_dividends" value="True"> Да
            <input type="radio" name="has_dividends" value="False"> Нет

            <button type="submit">Купить</button>
        </form>
    </div>
</body>
</html>
